.lives-card {
  height: 250px;
  width: 17%;
  background-color: rgb(156, 156, 156);
  border-radius: 5px;
  border: solid 2px rgb(99, 99, 99);
  margin: 10px 1.25% ;
  text-decoration: none;
  position: relative;
}

.lives-card:hover .lives-text-show {
  height: 270px;
  width: 115%;
  background-color: rgb(98, 255, 106);
  border-radius: 5px;
  border: solid 4px rgb(104, 104, 104);
  position: absolute; top: -10px; left: -10px;
  transition: 0.2s;
}

.lives-card:hover .lives-text-second {
  color: black;
  margin-top: 20px;
  width: 100%;
  font-size: large;
  border-bottom: solid gray;
}

.lives-card:hover .lives-show-mark {
  color: rgb(0, 0, 0);
  margin-left: 10px;
  font-size: 30px;

}

.lives-show-mark {
  color: rgba(0, 0, 0, 0);
}

.lives-text-second {
  color: rgba(0, 0, 0, 0);
}

.lives-card-space {
  width: 100%;
  height: 100%;
  position: relative;
}

.nav-link {
  text-decoration: none;
  color: black;
}

.card-1 {
  margin-left: 10px;
  width: 30%;
  height: 40px;
  font-size: x-large;
  text-align: center;
}

.card-2 {
  margin-top: 1px;
  margin-left: 20px;
  width: 80%;
  height: 100px;
  display: block;
}

.card-2-title {
  width: 100%;
  height: 30px;
  font-size: large;
}

.card-2-title-2 {
  width: 100%;
  height: 30px;
  font-size: x-large;
}

.card-3 {
  margin-left: 20px;
  width: 80%;
  height: 55px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  font-size: large;
}

.card-comment {
  width: 40%;
  height: 100%;
}

.card-4 {
  width: 100px;
  height: 25px;
  position: absolute; bottom: 2px; right: 2px;
  text-align: center;
}

.life-titile-left {
  width: 50%;
  height: 100%;
  margin-left: 50px;
}

.life-title-text {
  color: rgb(43, 43, 43);
  height: 65px;
  width: 100%;
  border-bottom: solid 3px rgb(95, 95, 95);
  display: flex;
}

.title-1 {
  height: 100%;
  width: 25%;
  font-size: 40px;
  font-weight: bold;
  margin-left: 10px;
}

.title-2 {
  font-size: 40px;
  width: 75%;
}

.life-title-owner {
  color: rgb(43, 43, 43);
  margin-top: 10px;
}



.owner-pass {
  text-decoration: none;
  color: rgb(43, 43, 43);
}

.life-title-right {
  width: 30%;
  height: 100%;
  padding: 20px 0 10px 0;
}

.me-to-count {
  width: 100%;
  height: 100%;
  font-size: 40px;
}

.like-icon {
  width: 80px;
  height: 80px;
  font-size: 60px;
  border-style: none;
  border-radius: 100%;
  background-color: rgb(202, 202, 202);
  color: rgb(9, 255, 0);
  margin: 0 0 0 auto;
}

.cansel-icon {
  width: 80px;
  height: 80px;
  font-size: 60px;
  color: rgb(97, 97, 97);
  border-style: none;
  border-radius: 100%;
  background-color: rgb(202, 202, 202);
}



.lives-category-box {
  width: 50%;
  height: 200px;
  display: flex;
}

.lives-category {
  width: 50%;
  height: 40px;
  background-color: rgb(82, 82, 82);
  font-size: 25px;
  color: white;
  text-align: center;
  margin: 20px 50px;
}

.lives-category-zone {
  width: 70%;
  height: 100%;
}

.lives-text-box {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-between;
}

.lives-double-text {
  width: 40%;
  height: 400px;
  background-color: rgb(158, 158, 158);
  margin: 20px 5%;
  overflow: scroll;
  -ms-overflow-style: none;
  border-radius: 6px;
  font-size: large;
  color: rgb(44, 44, 44);
  border: solid 3px gray;
}

.top-double {
  display: flex;
  width: 100%;
  height: 80px;
  background-color: rgb(255, 255, 255);
}

.lives-title-big {
  font-size: 50px;
  font-weight: bold;
  padding-left: 10px;
}


.lives-title-vig {
  padding-top: 10px;
  font-size: 40px;
  font-weight: bold;
  padding-left: 10px;
}
