.lives-card {
  height: 250px;
  width: 17%;
  background-color: rgb(156, 156, 156);
  border-radius: 5px;
  border: solid 2px rgb(99, 99, 99);
  margin: 10px 1.25% ;
  text-decoration: none;
  position: relative;
}

.lives-card:hover .lives-text-show {
  height: 270px;
  width: 115%;
  background-color: rgb(98, 255, 106);
  border-radius: 5px;
  border: solid 4px rgb(104, 104, 104);
  position: absolute; top: -10px; left: -10px;
  transition: 0.2s;
}

.lives-card:hover .lives-text-second {
  color: black;
  margin-top: 20px;
  width: 100%;
  font-size: large;
  border-bottom: solid gray;
}

.lives-card:hover .lives-show-mark {
  color: rgb(0, 0, 0);
  margin-left: 10px;
  font-size: 30px;

}

.lives-show-mark {
  color: rgba(0, 0, 0, 0);
}

.lives-text-second {
  color: rgba(0, 0, 0, 0);
}





.lives-card-space {
  width: 100%;
  height: 100%;
  position: relative;
}

.nav-link {
  text-decoration: none;
  color: black;
}



.card-1 {
  margin-left: 10px;
  width: 30%;
  height: 40px;
  font-size: x-large;
  text-align: center;
}

.card-2 {
  margin-top: 20px;
  margin-left: 20px;
  width: 80%;
  height: 100px;
  display: block;
}

.card-2-title {
  width: 100%;
  height: 30px;
  font-size: large;
}

.card-2-title-2 {
  width: 100%;
  height: 30px;
  font-size: x-large;
}

.card-3 {
  width: 100px;
  height: 25px;
  position: absolute; bottom: 2px; right: 2px;
  text-align: center;
}