.show-lives-space {
  background-color: rgb(202, 202, 202);
  width: 100%;
  height: 1600px;
}

.lives-main-space {
  width: 76%;
  margin: 0 12%;
  border: solid black;
  height: 100%;
}

.title-lives-box {
  width: 100%;
  height: 100px;
  background-color: rgb(202, 202, 202);
  font-size: x-large;
  display: flex;
  justify-content: space-between;
  margin: 30px 0 30px 0;
}

.life-titile-left {
  width: 50%;
  height: 100%;
  margin-left: 50px;
}

.life-title-text {
  color: rgb(43, 43, 43);
  height: 65px;
  width: 100%;
  border-bottom: solid 3px rgb(95, 95, 95);
  display: flex;
}

.title-1 {
  height: 100%;
  width: 25%;
  font-size: 40px;
  font-weight: bold;
  margin-left: 10px;
}

.title-2 {
  font-size: 40px;
  width: 75%;
}

.life-title-owner {
  color: rgb(43, 43, 43);
  margin-top: 10px;
}



.owner-pass {
  text-decoration: none;
  color: rgb(43, 43, 43);
}

.life-title-right {
  width: 30%;
  height: 100%;
  padding: 20px 0 10px 0;
}

.me-to-count {
  width: 100%;
  height: 100%;
  font-size: 40px;
}

.like-icon {
  width: 80px;
  height: 80px;
  font-size: 60px;
  border-style: none;
  border-radius: 100%;
  background-color: rgb(202, 202, 202);
  color: rgb(9, 255, 0);
  margin: 0 0 0 auto;
}

.cansel-icon {
  width: 80px;
  height: 80px;
  font-size: 60px;
  color: rgb(97, 97, 97);
  border-style: none;
  border-radius: 100%;
  background-color: rgb(202, 202, 202);
}



.lives-category-box {
  width: 50%;
  height: 200px;
  display: flex;
}

.lives-category {
  width: 50%;
  height: 40px;
  background-color: rgb(82, 82, 82);
  font-size: 25px;
  color: white;
  text-align: center;
  margin: 20px 50px;
}

.lives-category-zone {
  width: 70%;
  height: 100%;
}

.lives-text-box {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-between;
}

.lives-double-text {
  width: 40%;
  height: 400px;
  background-color: rgb(158, 158, 158);
  margin: 20px 5%;
  overflow: scroll;
  -ms-overflow-style: none;
  border-radius: 6px;
  font-size: large;
  color: rgb(44, 44, 44);
  border: solid 3px gray;
}

.top-double {
  display: flex;
  width: 100%;
  height: 80px;
  background-color: rgb(255, 255, 255);
}

.lives-title-big {
  font-size: 50px;
  font-weight: bold;
  padding-left: 10px;
}


.lives-title-vig {
  padding-top: 10px;
  font-size: 40px;
  font-weight: bold;
  padding-left: 10px;
}



.lives-text-titile {
  height: 60px;
  width: 60px;
  background-color: rgb(80, 80, 80);
  padding: 10px;
}

.lives-text-under {
  border-bottom: solid 3px gray;
  padding-bottom: 4px;
  font-size: larger;
  color: rgb(233, 233, 233);
}

.lives-double-text::-webkit-scrollbar {  
  display:none;
}

.lives-comment-box {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-between;
  
}

.yell-lists {
  width: 45%;
  height: 100%;
  background-color: rgb(110, 110, 110);
  border-radius: 5px;
  border: solid 3px gray;
  overflow: scroll;
}

.yell-lists::-webkit-scrollbar {  
  display:none;
}

.yell-content {
  width: 80%;
  border-bottom: solid 2px gray;
  margin: 10px 10%;
}

.yell-created {
  margin: 0 0 0 auto;
  width: 30%;
  text-align: right;
  font-size: smaller;
  color: rgb(202, 202, 202);
}


.errors-box {
  width: 500px;
  height: 15%;
  color: rgb(92, 92, 92);
  padding: 20px 0 0 10px;

  font-size: 20px;
}


.yell-form {
  width: 45%;
  height: 100%;
  background-color: rgb(201, 201, 201);
}

.form-yell {
  width: 90%;
  height: 350px;
  padding: 0 10px 0 20px;
  border-radius: 7px;
}

.form-yell::-ms-input-
placeholder {
  color: rgb(122, 122, 122);
  font-weight: bolder;
  text-decoration: underline;
}

.form-yell::placeholder {
  color: rgb(122, 122, 122);
  font-weight: bolder;
  text-decoration: underline;
}

.yell-submit {
  width: 100px;
  height: 30px;
  border-radius: 30px;
  background-color: rgb(177, 177, 177);
}
