.show-lives-space {
  background-color: rgb(202, 202, 202);
  width: 100%;
  height: 1600px;
}

.lives-main-space {
  width: 76%;
  margin: 0 12%;
  border: solid black;
  height: 100%;
}

.title-lives-box {
  width: 100%;
  height: 100px;
  background-color: blanchedalmond;
}

.lives-category-box {
  width: 100%;
  height: 200px;
  background-color: burlywood;
  display: flex;
  justify-content: space-between;
}

.lives-category {
  width: 20%;
  height: 100px;
  background-color: chartreuse;
  margin: 3%;
}


.lives-text-box {
  width: 100%;
  height: 500px;
  background-color: chartreuse;
  display: flex;
  justify-content: space-between;
}

.lives-double-text {
  width: 40%;
  height: 70%;
  background-color: chocolate;
  margin: 20px 5%;
  overflow: scroll;
  -ms-overflow-style: none;
}

.lives-double-text::-webkit-scrollbar {  
  display:none;
}

.lives-comment-box {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-between;
  
}

.yell-lists {
  width: 45%;
  height: 100%;
  background-color: rgb(110, 110, 110);
  border-radius: 5px;
  border: solid 3px gray;
  overflow: scroll;
}

.yell-lists::-webkit-scrollbar {  
  display:none;
}

.yell-content {
  width: 80%;
  border-bottom: solid 2px gray;
  margin: 10px 10%;
}

.yell-created {
  margin: 0 0 0 auto;
  width: 30%;
  text-align: right;
  font-size: smaller;
  color: rgb(202, 202, 202);
}


.errors-box {
  width: 500px;
  height: 20%;
  background-color: aqua;
}


.yell-form {
  width: 45%;
  height: 100%;
  background-color: rgb(201, 201, 201);
}

.form-yell {
  width: 90%;
  height: 350px;
  padding: 0 10px 0 20px;
  border-radius: 7px;
}

.form-yell::-ms-input-
placeholder {
  color: rgb(122, 122, 122);
  font-weight: bolder;
  text-decoration: underline;
}

.form-yell::placeholder {
  color: rgb(122, 122, 122);
  font-weight: bolder;
  text-decoration: underline;
}

.yell-submit {
  width: 100px;
  height: 30px;
  border-radius: 30px;
  background-color: rgb(177, 177, 177);
}
