<div class="top-bar">
  <div class="app-icon-box">
    Life Count
  </div>
  <div class="left-icon">
    <%= link_to(new_life_path, class: 'top-icon-btn') do %>
      <%= image_tag 'new-lives.png' , size: '50x50' ,class: "top-icon" %>
    <% end %>
    
    <%= image_tag 'tuuti.png' , size: '50x50' ,class: "top-icon" %>
    <%= image_tag 'DM.png' , size: '50x50' ,class: "top-icon" %>
  </div>
</div>