<div class="notification-view">
  <%= light_form(light) %><span class="moderate-font"><%= " (#{time_ago_in_words(light.created_at)}å‰)" %></span>
  <br>
  <% if !@yell.nil? %>
    <p class="notification-comment"><%= @yell %></p>
  <% end %>
</div>