<div class="light-main">
    <div class="light-box">
        <a class="light-text-center">アクティビティ</a>

        <% if @lights.present? %>
            <div class="users-index-2">
                <%= render @lights %>
            </div>
        <% else %>
            <p>通知はありません</p>
        <% end %>
    </div>
</div>
