<div class="all-index-space">
  <div class="main-index-page">
    <div class="bxslider">
      <div class="test-box-parent">
        <%= render "shared/lives-puts-card" %>
      </div>
      <div class="test-box-parent">
        <%= render "shared/lives-puts-card" %>
      </div>
      
    </div>

    
  </div>
</div>

