.show-user-space {
  background-color: rgb(202, 202, 202);
  width: 100%;
  height: 1900px;
}

.user-main-space {
  width: 76%;
  margin: 0 12%;
  border: solid black;
  height: 100%;
}

.profile-space {
  width: 100%;
  height: 400px;
  background-color: rgb(202, 202, 202);
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}

.acount-left {
  font-size: large;
  font-weight: bold;
  height: 100%;
  width: 40%;

}

.user-image {
  height: 180px;
  width: 180px;
  background-color: rgb(255, 255, 255);
  border: solid 2px rgb(121, 121, 121);
  border-radius: 100%;
  margin: 0 auto;
  font-size: 140px;
  text-align: center;
}

.user-show-box {
  height: 180px;
  width: 100%;
}

.other-acount-name {
  width: 200px;
  height: 30px;
  margin: 30px auto;
  text-align: center;
  border-bottom: solid 2px gray;

}

.follow-box {
  width: 180px;
  height: 40px;
  background-color: rgb(0, 255, 106);
  border-radius: 5px;
  margin: 40px auto;
  border: solid 2px gray;
  text-align: center;
  font-size: x-large;
}


.follow-box-2 {
  width: 180px;
  height: 40px;
  margin: 40px auto;
}

.follow-btn {
  width: 100%;
  height: 40px;
  background-color: rgb(0, 255, 106);
  border-radius: 5px;
  border: solid 2px gray;
  text-align: center;
  font-size: x-large;
}


.chat-box {
  text-decoration: none;
}


.go-chat-box {
  margin-top: 10px;
  width: 98%;
  height: 35px;
  background-color: rgb(0, 255, 106);
  border-radius: 5px;
  border: solid 2px gray;
  text-align: center;
  font-size: 20px;
  color: black;
  padding-top: 4px;
}





.acount-icon {
  margin: 20px;
}

.three-user-content {
  width: 60%;
  background-color: rgb(202, 202, 202);
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.user-status {
  width: 25%;
  height: 60px;
  background-color: rgb(202, 202, 202);
  text-decoration: none;
  font-size: large;
  font-weight: bolder;
  color: rgb(48, 48, 48);
}

.my-lives-space {
  width: 100%;
  height: 600px;
  background-color: rgb(202, 202, 202);
  overflow: scroll;
  -ms-overflow-style: none;
  display: flex;
  flex-wrap: wrap;
  border-top: solid 2px rgb(88, 88, 88);
  border-bottom: solid 2px rgb(88, 88, 88);
  
}

.my-lives-space::-webkit-scrollbar {  
  display:none;
}





.pie-space {
  margin-top: 50px;
  width: 100%;
  height: 370px;
  display: flex;
}


.pie-chart-box {
  position: relative;
  height: 300px;
  width: 40%;
  border: solid 5px rgb(107, 107, 107);
  padding-bottom: 55px;
}

.dark-botton {
  position: absolute;
  top: 0;
  left: 0;
  height: 45px;
  width: 100%;
  background-color: rgb(202, 202, 202);
}

.pie-text {
  height: 100%;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 6%;
}

.pie-desc-1 {
  height: 50px;
  width: 100%;
  font-size: 30px;
  padding-left: 20px;
  font-weight: bolder;
}

.pie-desc-2 {
  height: 70px;
  width: 40%;
  background-color: rgb(36, 36, 36);
  margin-bottom: 18px;
  font-size: xx-large;
  border: solid 3px gray;
  margin-right: 5%;
  display: flex;
  color: white;
}


.pie-chart-family {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: rgb(0, 255, 13);
  text-align: center;
  border: gray solid 3px;
  color: black;
  margin: 3px 10px;
}

.pie-chart-work {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: rgb(0, 255, 234);
  text-align: center;
  border: gray solid 3px;
  color: black;
  margin: 3px 10px;
}

.pie-chart-school {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: rgb(179, 255, 0);
  text-align: center;
  border: gray solid 3px;
  color: black;
  margin: 3px 10px;
}

.pie-chart-private {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: rgb(223, 223, 223);
  text-align: center;
  border: gray solid 3px;
  color: black;
  margin: 3px 10px;
}

.pie-chart-other {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: rgb(158, 158, 158);
  text-align: center;
  border: gray solid 3px;
  color: black;
  margin: 3px 10px;
}

.notification-comment {
  display: none;
}