.show-user-space {
  background-color: rgb(202, 202, 202);
  width: 100%;
  height: 1600px;
}

.user-main-space {
  width: 76%;
  margin: 0 12%;
  border: solid black;
  height: 100%;
}

.profile-space {
  width: 100%;
  height: 400px;
  background-color: rgb(202, 202, 202);
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}

.acount-left {
  font-size: large;
  font-weight: bold;
  height: 100%;
  width: 40%;

}

.user-image {
  height: 180px;
  width: 180px;
  background-color: rgb(255, 255, 255);
  border: solid 2px rgb(121, 121, 121);
  border-radius: 100%;
  margin: 0 auto;
  font-size: 140px;
  text-align: center;
}

.user-show-box {
  height: 180px;
  width: 100%;
}

.other-acount-name {
  width: 200px;
  height: 30px;
  margin: 30px auto;
  text-align: center;
  border-bottom: solid 2px gray;

}

.follow-box {
  width: 180px;
  height: 40px;
  background-color: rgb(0, 255, 106);
  border-radius: 5px;
  margin: 40px auto;
  border: solid 2px gray;
  text-align: center;
  font-size: x-large;
}


.follow-box-2 {
  width: 180px;
  height: 40px;
  margin: 40px auto;
}

.follow-btn {
  width: 100%;
  height: 40px;
  background-color: rgb(0, 255, 106);
  border-radius: 5px;
  border: solid 2px gray;
  text-align: center;
  font-size: x-large;
}






.acount-icon {
  margin: 20px;
}

.three-user-content {
  width: 60%;
  background-color: rgb(202, 202, 202);
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.user-status {
  width: 25%;
  height: 60px;
  background-color: rgb(202, 202, 202);
  text-decoration: none;
  font-size: large;
  font-weight: bolder;
  color: rgb(48, 48, 48);
}

.my-lives-space {
  width: 100%;
  height: 600px;
  background-color: rgb(202, 202, 202);
  overflow: scroll;
  -ms-overflow-style: none;
  display: flex;
  flex-wrap: wrap;
  border-top: solid 2px rgb(88, 88, 88);
  border-bottom: solid 2px rgb(88, 88, 88);
  
}

.my-lives-space::-webkit-scrollbar {  
  display:none;
}




